{% extends "base.html" %}
{% block sideBarContent %}

<!--	<h3>Example:  1.39</h3>
    <form action="/submit_form" method="post">
      <div><input type="text" name="content" size=15/>
      </div>
	<br>
      <div><input type="submit" value="Get Change"></div>
    </form>-->

<!--<b>Anmelden</b>

<p>&nbsp;</p>

<form action="/login" method="post" accept-charset="utf-8">
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="right">Region Name:</td>
    <td colspan="2" align="left">
    <select name="cloud_region" size="1">
      <option>Amazon EC2 EU West</option>
      <option selected="selected">Amazon EC2 US East</option>
      <option>Amazon EC2 US West</option>
      <option>Eucalyptus</option>
    </select>
    </td>
  </tr>
  <tr>
    <td align="right">Endpoint URL:</td>
    <td colspan="2" align="left"><input type="text" size="40" name="endpointurl" value=""></td>
  </tr>
  <tr>
    <td align="right">Access Key:</td>
    <td colspan="2" align="left"><input type="text" size="40" name="accesskey" value=""></td>
  </tr>
  <tr>
    <td align="right">Secret Access Key:</td>
    <td colspan="2" align="left"><input type="text" size="40" name="secretaccesskey" value=""></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><input type="submit" value="Absenden"></td>
    <td align="center"><input type="reset"  value="L&ouml;schen"></td>
  </tr>
</table>
</form>-->

<b>Cloud-IaaS credentials</b>

<p>&nbsp;</p>

{{ tabelle_logins }}

<p>&nbsp;</p>

<b>Erase personal data from the datastore</b>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center">
      <form action="/persoenliche_datan_loeschen" method="get">
        <input type="submit" value="erase all personal data">
      </form>
    </td>
  </tr>
</table>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center">
      <form action="/persoenliche_favoriten_loeschen" method="get">
        <input type="submit" value="erase only the Amazon EC2 favorites">
      </form>
    </td>
  </tr>
</table>

<b>Create new region data</b>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center" valign="middle">
      <a href="http://aws.amazon.com"><img src="bilder/amazon-web-services-logo_kleiner.png" width="130" height="47" border="0" alt="create EC2 account"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://open.eucalyptus.com"><img src="bilder/eucalyptus_logo_awh.png" width="143" height="42" border="0" alt="create Eucalyptus account"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://www.nimbusproject.org"><img src="bilder/nimbus_logo.png" width="164" height="44" border="0" alt="create Nimbus account"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://www.opennebula.org"><img src="bilder/opennebula-logo.png" width="162" height="34" border="0" alt="create OpenNebula account"></a>
    </td>
<!--
    <td align="center" valign="middle">
      <a href="http://www.pittsburgh.intel-research.net/projects/tashi/"><img src="bilder/intel_tashi_logo.png" width="150" height="35" border="0" alt="create Tashi account"></a>
    </td>
-->
  </tr>
  <tr>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="ec2">
        <input type="submit" value="create account">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="eucalyptus">
        <input type="submit" value="create account">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="nimbus">
        <input type="submit" value="create account">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="opennebula">
        <input type="submit" value="create account">
      </form>
    </td>
<!--
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="tashi">
        <input type="submit" value="create account">
      </form>
    </td>
-->
  </tr>
</table>

{{ eingabefelder }}

{{ input_error_message }}

{{ version_warnung }}

{{ port_warnung }}

{% endblock %}
