{% extends "base.html" %}
{% block sideBarContent %}

{{ input_error_message }}

<form action="/grupperegelanlegen" method="post" accept-charset="utf-8">
<input type="hidden" name="gruppe" value="{{ gruppe }}">
Protocol:
    <select name="protokoll" size="1">
      <option selected="selected">TCP</option>
      <option>UDP</option>
      <option>ICMP</option>
    </select>
From Port: <input name="port_from" type="text" size="5" maxlength="5">
To Port: <input name="port_to" type="text" size="5" maxlength="5">
<input type="submit" value="create rule">
</form>

<p>&nbsp;</p>

<b>Rules inside the security group {{ gruppe }}</b>

<p>&nbsp;</p>

{{ regelntabelle }}

{% endblock %}
