{% extends "base.html" %}
{% block sideBarContent %}
<h3>
<b>Content of the bucket {{ bucketname }}</b>
</h3>

{{ input_error_message }}

<p>&nbsp;</p>

<b>File upload into the bucket {{ bucketname }}</b>

{{ keys_upload_formular }}

<p>&nbsp;</p>

<b>Create new directory inside the bucket {{ bucketname }}</b>

<p>&nbsp;</p>

{{ eingabeformular_neues_verzeichnis }}

<p>&nbsp;</p>

<b>List of keys inside the bucket {{ bucketname }}</b>

<p>&nbsp;</p>

{{ bucket_keys_tabelle }}

{{ alle_keys_loeschen_button }}

<p>&nbsp;</p>

{{ verzeichnis_warnung }}

{% endblock %}


