{% extends "base.html" %}
{% block sideBarContent %}
<h3>
<b>Elastic Block Store (EBS) Datentr&auml;ger (Volumes)</b>
</h3>
<br>
<b>Neues Volume in der Region {{ zone }} {{ zone_amazon }} anlegen</b>

<p>&nbsp;</p>

<form action="/volumeerzeugen" method="post" accept-charset="utf-8">
Gr&ouml;&szlig;e: <input name="groesse" type="text" size="3" maxlength="3">
    <select name="GB_oder_TB" size="1">
      <option selected="selected">GB</option>
      <option>TB</option>
    </select>
Verf&uuml;gbarkeitszone:
    <select name="zone" size="1">
{{ zonen_in_der_region }}
    </select>
<input type="submit" value="Volume anlegen">
</form>

{{ input_error_message }}

<p>&nbsp;</p>

<b>Liste der Volumes innerhalb der Region {{ zone }} {{ zone_amazon }}</b>

<p>&nbsp;</p>

{{ volumestabelle }}

{{ alle_volumes_loeschen_button }}

{% endblock %}
