{% extends "base.html" %}
{% block sideBarContent %}
<!--
<h3><b>EBS Volumes</b></h3>
<br>
-->
<b>Create new EBS volume</b>

<p>&nbsp;</p>

<form action="/volumeerzeugen" method="post" accept-charset="utf-8">
<input type="hidden" name="mobile" value="{{ mobile }}">
<table border="0" cellspacing="0" cellpadding="5">
<tr>
<td>Size:</td>
<td><input name="groesse" type="text" size="3" maxlength="3"></td>
<td align="left">
    <select name="GB_oder_TB" size="1">
      <option selected="selected">GB</option>
      <option>TB</option>
    </select><br>
</td>
</tr>
<tr>
<td>
Availabiliy Zone:
</td>
<td colspan="2" align="left">
<select name="zone" size="1">
{{ zonen_in_der_region }}
</select><br>
</td>
</tr>
<tr>
<td colspan="3">
<input type="submit" value="create EBS volume">
</td>
</tr>
</table>
</form>

{{ input_error_message }}

<p>&nbsp;</p>

<b>List of EBS volumes</b>

<p>&nbsp;</p>

{{ volumestabelle }}

{{ alle_volumes_loeschen_button }}

{% endblock %}
