{% extends "base.html" %}
{% block sideBarContent %}

<b>Zugangsdaten zu Cloud-Diensten</b>

<p>&nbsp;</p>

{{ tabelle_logins }}

<p>&nbsp;</p>

<b>Pers&ouml;nliche Daten in KOALA l&ouml;schen</b>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center">
      <form action="/persoenliche_datan_loeschen" method="get">
        <input type="submit" value="Alle Ihre pers&ouml;nliche Daten aus KOALA l&ouml;schen">
      </form>
    </td>
  </tr>
</table>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center">
      <form action="/persoenliche_favoriten_loeschen" method="get">
        <input type="submit" value="Nur Ihre EC2 Favoriten in KOALA l&ouml;schen">
      </form>
    </td>
  </tr>
</table>

<b>Neuen Zugang zu einer Region eintragen</b>

<p>&nbsp;</p>

<p><font color="green">Hier k&ouml;nnen Sie ihre Zugangsdaten in KOALA eintragen.</font></p>

<p>&nbsp;</p>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center" valign="middle">
      <a href="http://aws.amazon.com"><img src="bilder/amazon-web-services-logo_kleiner.png" width="130" height="47" border="0" alt="Eucalyptus Zugang einrichten"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://open.eucalyptus.com"><img src="bilder/eucalyptus_logo_awh.png" width="143" height="42" border="0" alt="EC2 Zugang einrichten"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://www.nimbusproject.org"><img src="bilder/nimbus_logo.png" width="164" height="44" border="0" alt="Nimbus Zugang einrichten"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://www.opennebula.org"><img src="bilder/opennebula-logo.png" width="162" height="34" border="0" alt="OpenNebula Zugang einrichten"></a>
    </td>
    <td align="center" valign="middle">
      <a href="http://code.google.com/apis/storage/"><img src="bilder/google_logo.png" width="150" height="50" border="0" alt="Google Storage Zugang einrichten"></a>
    </td>
<!--
    <td align="center" valign="middle">
      <a href="http://www.pittsburgh.intel-research.net/projects/tashi/"><img src="bilder/intel_tashi_logo.png" width="150" height="35" border="0" alt="Tashi Zugang einrichten"></a>
    </td>
-->
  </tr>
  <tr>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="ec2">
        <input type="submit" value="Zugang einrichten">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="eucalyptus">
        <input type="submit" value="Zugang einrichten">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="nimbus">
        <input type="submit" value="Zugang einrichten">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="opennebula">
        <input type="submit" value="Zugang einrichten">
      </form>
    </td>
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="GoogleStorage">
        <input type="submit" value="Zugang einrichten">
      </form>
    </td>
<!--
    <td align="center">
      <form action="/regionen" method="get">
        <input type="hidden" name="neuerzugang" value="tashi">
        <input type="submit" value="Zugang einrichten">
      </form>
    </td>
-->
  </tr>
</table>

{{ eingabefelder }}

{{ input_error_message }}

{{ version_warnung }}

{{ port_warnung }}

{% endblock %}
