{% extends "base.html" %}
{% block sideBarContent %}

<table width="95%" border="0">
<tr>
<td align="center" width="45%"><h1>Welcome to KOALA</h1></td>
<td>&nbsp;</td>
<td align="center" width="45%"><h1>Willkommen bei KOALA</h1></td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA is a web-based application, designed to help you managing your AWS compatible cloud infrastructures (IaaS). The <a style="color:blue" href="http://aws.amazon.com">Amazon AWS</a> public cloud and private cloud infrastructures based of <a style="color:blue" href="http://open.eucalyptus.com">Eucalyptus</a> or <a style="color:blue" href="http://www.nimbusproject.org">Nimbus</a> are supported</td>
<td>&nbsp;</td>
<td align="center">KOALA ist eine internet-basierte Anwendung, um AWS-kompatible Cloud Computing Infrastrukturen (IaaS) zu steuern. Die Public Cloud <a style="color:blue" href="http://aws.amazon.com">Amazon AWS</a> und Private Cloud Infrastrukturen mit <a style="color:blue" href="http://open.eucalyptus.com">Eucalyptus</a> oder <a style="color:blue" href="http://www.nimbusproject.org">Nimbus</a> werden unterst&uuml;tzt</td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA itself is able to run inside the public cloud platform (PaaS) <a style="color:blue" href="http://appengine.google.com">Google App Engine</a> and the private cloud PaaS <a style="color:blue" href="http://appscale.cs.ucsb.edu">AppScale</a></td>
<td>&nbsp;</td>
<td align="center">KOALA selbst l&auml;uft innerhalb der Public Cloud Plattform (PaaS) <a style="color:blue" href="http://appengine.google.com">Google App Engine</a> und der Private Cloud PaaS <a style="color:blue" href="http://appscale.cs.ucsb.edu">AppScale</a></td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA controls the Elastic Computing Cloud (<a style="color:blue" href="http://aws.amazon.com/ec2/">EC2</a>), helps interacting with Simple Storage Service (<a style="color:blue" href="http://aws.amazon.com/s3/">S3</a>) and Elastic Block Store (<a style="color:blue" href="http://aws.amazon.com/ebs/">EBS</a>) storage resources and supports Elastic Load Balancing (<a style="color:blue" href="http://aws.amazon.com/elasticloadbalancing/">ELB</a>)</td>
<td>&nbsp;</td>
<td align="center">KOALA steuert die Elastic Computing Cloud (<a style="color:blue" href="http://aws.amazon.com/ec2/">EC2</a>) und unterst&uuml;tzt auch die Arbeit mit Simple Storage Service (<a style="color:blue" href="http://aws.amazon.com/s3/">S3</a>) und Elastic Block Store (<a style="color:blue" href="http://aws.amazon.com/ebs/">EBS</a>) Speicher-Ressourcen und mit elastischer Lastverteilung via Elastic Load Balancing (<a style="color:blue" href="http://aws.amazon.com/elasticloadbalancing/">ELB</a>)</td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA is not a marketplace for cloud resources. It just helps you to manage the cloud resources you have already access to</td>
<td>&nbsp;</td>
<td align="center">KOALA ist kein Marktplatz f&uuml;r Cloud-Ressourcen. Es ist ein Werkzeug um Cloud-Ressourcen zu bedienen, zu denen man bereits Zugriff hat</td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center" colspan="3"><img src="bilder/KOALA_zusammenhang_kompakt.png" width="790" height="495" border="0" alt="KOALA in the Cloud"></td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">KOALA is Open Source and the usage is without cost</td>
<td>&nbsp;</td>
<td align="center">KOALA ist Open Source und die Benutzung ist kostenfrei</td>
</tr>
<tr><td><p>&nbsp;</p></td><td>&nbsp;</td><td><p>&nbsp;</p></td></tr>
<tr>
<td align="center">More information can be found<br>at the <a style="color:blue" href="/info">info page</a></td>
<td>&nbsp;</td>
<td align="center">Mehr Informationen befinden sich auf<br> der <a style="color:blue" href="/info">Info-Seite</a></td>
</tr>
</table>

<!--<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>-->

<!--<center>
<a href="http://appengine.google.com" style="text-decoration: none"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" border="0"></a>
&nbsp;
<a href="http://validator.w3.org/check?uri=referer"><img src="bilder/valid-html401.png" alt="Valid HTML 4.01 Transitional" border="0" height="31" width="88"></a>
</center>-->

{% endblock %}
