{% extends "base.html" %}
{% block sideBarContent %}

<form action="/instanzanlegen_nimbus" method="post" accept-charset="utf-8">
<input type="hidden" name="mobile" value="{{ mobile }}">
<input type="hidden" name="image_id" value="{{ image }}">
<input type="hidden" name="image_manifest" value="{{ manifest }}">

<table border="3" cellspacing="0" cellpadding="5">
<tr>
<td align="right"><b>ID:</b></td><td><tt> {{ image }} </tt></td>
</tr><tr>
<td><b>Manifest:</b></td><td><tt> {{ manifest }} </tt></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" value="create instance"> </td>
</tr>
</table>
</form>

{% endblock %}
