{% extends "base.html" %}
{% block sideBarContent %}

<table border="0" cellspacing="0" cellpadding="5">
<tr>
<td><b>Bucket:</b></td>
<td>{{ bucketname }}</td>
</tr>
<tr>
<td><b>Objekt:</b></td>
<td>{{ keyname }}</td>
</tr>
</table>

<p>&nbsp;</p>

{{ acl_tabelle}}

<p>&nbsp;</p>

<form action="/acl_aendern" method="post" accept-charset="utf-8">
<input type="hidden" name="keyname" value="{{ keyname }}">
<input type="hidden" name="bucketname" value="{{ bucketname }}">
<input type="hidden" name="typ" value="{{ typ }}">
<input type="hidden" name="dir" value="{{ directory }}">
<input type="hidden" name="mobile" value="{{ mobile }}">
<table border="0" cellspacing="0" cellpadding="5">
<tr>
<td>
<select name="canned_acl" size="1">
<option selected="selected">public-read</option>
<option>private</option>
<option>public-read-write</option>
<option>authenticated-read</option>
</select>
</td>
</tr>
<tr>
<td><input type="submit" value="&Auml;nderungen &uuml;bermitteln"></td>
</tr>
</table>
</form>

<p>&nbsp;</p>

{{ eucalyptus_warnung }}

{% endblock %}
