{% extends "base.html" %}
{% block sideBarContent %}

{{ neues_fenster }}

<h3>
<b>Schl&uuml;ssel</b>
</h3>
<br>
<b>Neues Schl&uuml;sselpaar erzeugen</b>

<p>&nbsp;</p>

<form action="/schluesselerzeugen" method="post" accept-charset="utf-8">
<input name="keyname" type="text" size="25" maxlength="25">
<input type="submit" value="Schl&uuml;sselpaar erzeugen">
</form>

{{ input_error_message }}

<p>&nbsp;</p>

<b>Liste der Schl&uuml;ssel</b>

<p>&nbsp;</p>

{{ keytabelle }}

<p>&nbsp;</p>

{{ secretkey_memcache }}

{% endblock %}
